<%- include('partials/header.ejs')%>
<%- include('partials/navbar.ejs')%>
<body>  
    <div class="container">
        <h1>Sobre o Site:</h1>
        <hr>
        <p>O site foi desenvolvido com o intuito de uma tematica parecida com o site do "Yahoo!", o seu desenvolvimento,
            foi feito apenas com o objetivo de testar meus conhecimentos ao desenvolver um sistemas que utilizar o NodeJs 
            no back-end e Bootstrap no front-end
        </p>
        <br>

        <a class="btn btn-primary" href="/results">listar perguntas</a>
    </div>
</body>
<%- include('partials/footer.ejs')%>